@{
    ViewData["Title"] = "Home Page";
}


<div class="center-img" >
    <img style="
        display: block;
        margin: 0 auto;
        text-align: center;
    }" src="~/img/logo_brvantic_349x175.2e16d0ba.fill-279x140.png" alt="Descrição da imagem">
</div>
<p></p>