@model Orcamentos.Models.Orcamento

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Orcamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-6">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="profileId" class="control-label"></label>
                <div class="input-group">
                    <select class="form-control" asp-for="profileId"
                            asp-items="@(new SelectList(ViewBag.profilesList,"Value","Text"))">
                        <option>Selecione uma opção</option>
                    </select>

                </div>

                <span asp-validation-for="profileId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="revenueTypeId" class="control-label"></label>
                <div class="input-group">
                    <select class="form-control" asp-for="revenueTypeId"
                            asp-items="@(new SelectList(ViewBag.revenueTypesList,"Value","Text"))">
                        <option>Selecione uma opção</option>
                    </select>

                </div>

                <span asp-validation-for="revenueTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="businessUnitId" class="control-label"></label>
                <div class="input-group">
                    <select class="form-control" asp-for="businessUnitId"
                            asp-items="@(new SelectList(ViewBag.businessUnitsList,"Value","Text"))">
                        <option>Selecione uma opção</option>
                    </select>

                </div>

                <span asp-validation-for="businessUnitId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoUni" class="control-label"></label>
                <input asp-for="TipoUni" class="form-control" />
                <span asp-validation-for="TipoUni" class="text-danger"></span>
            </div>
            </div>
                <div class="col-6">
            <div class="form-group">
                <label asp-for="Partnumb" class="control-label"></label>
                <input asp-for="Partnumb" class="form-control" />
                <span asp-validation-for="Partnumb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="modelo" class="control-label"></label>
                <input asp-for="modelo" class="form-control" />
                <span asp-validation-for="modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SerialNumb" class="control-label"></label>
                <input asp-for="SerialNumb" class="form-control" />
                <span asp-validation-for="SerialNumb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
