@model BusinessUnit

@{
    ViewData["Title"] = "Create";
}

<h1>Criar</h1>

<h4>Unidade de Negocio</h4>
<hr />
<div class="row mb-2">
    <div class="col-md-4">
        <form asp-action="Create" class="needs-validation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-2">
                <label class="control-label">Nome</label>
                <input asp-for="Name" class="form-control" required/>
            </div>
            <div class="form-group mb-2">
                <label class="control-label">Gestor de Negocios</label>
                <div class="input-group">
                    <select class="form-select" asp-for="buManagerId" required
                            asp-items="@(new SelectList(ViewBag.bumList,"Value","Text"))">
                        <option selected disabled value="">Selecione uma opção</option>
                    </select>
                  
                </div>
            </div>
            <div class="form-group form-check d-none">
                <label asp-for="Ativo" class="form-check-label">
                    <input class="form-check-input" asp-for="Ativo" checked /> @Html.DisplayNameFor(model => model.Ativo)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">Voltar para a lista</a>
</div>

<script>

    (function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();

</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }